apiVersion: v1
kind: Namespace
metadata:
  name: ingress
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nginx-ingress
  namespace: ingress
---
apiVersion: v1
kind: Secret
metadata:
  name: default-server-secret
  namespace: ingress
type: Opaque
data:
  tls.crt: "{{ lookup('file', '../certs/walid.ovh/fullchain.pem') | b64encode }}"
  tls.key: "{{ lookup('file', '../certs/walid.ovh/privkey.pem') | b64encode }}"
