apiVersion: v1
kind: Secret
metadata:
  name: walid.ovh
  namespace: walid
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', '../certs/walid.ovh/fullchain.pem') | b64encode }}"
  tls.key: "{{ lookup('file', '../certs/walid.ovh/privkey.pem') | b64encode }}"
