apiVersion: v1
kind: Secret
metadata:
  name: monitoring.cluster.walid.ovh
  namespace: monitoring
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', '../certs/monitoring.cluster.walid.ovh/fullchain.pem') | b64encode }}"
  tls.key: "{{ lookup('file', '../certs/monitoring.cluster.walid.ovh/privkey.pem') | b64encode }}"
